{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en-GB">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

<div class="layout" data-layout="vilnius">

<div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 1605" aria-hidden="true" class="banner-paintings" data-banner-paintings focusable="false"></svg>

<div hidden>
<template data-painting-template="img-van-gogh-portrait">{% include "partials/symbol-van-gogh-portrait.svg" %}</template>
<template data-painting-template="img-munch-scream">{% include "partials/symbol-munch-scream.svg" %}</template>
<template data-painting-template="img-davinci-mona-lisa">{% include "partials/symbol-davinci-mona-lisa.svg" %}</template>
<template data-painting-template="img-warhol-marilyn">{% include "partials/symbol-warhol-marilyn.svg" %}</template>
<template data-painting-template="img-vermeer-earring">{% include "partials/symbol-vermeer-earring.svg" %}</template>
</div>

<div class="banner-switcher">
<button aria-controls="img-van-gogh-portrait" aria-pressed="true" data-painting-target="img-van-gogh-portrait">1</button>
<button aria-controls="img-munch-scream" aria-pressed="false" data-painting-target="img-munch-scream">2</button>
<button aria-controls="img-davinci-mona-lisa" aria-pressed="false" data-painting-target="img-davinci-mona-lisa">3</button>
<button aria-controls="img-warhol-marilyn" aria-pressed="false" data-painting-target="img-warhol-marilyn">4</button>
<button aria-controls="img-vermeer-earring" aria-pressed="false" data-painting-target="img-vermeer-earring">5</button>
</div><!-- banner-switcher -->

</div><!-- one -->

<div>
<h1>{{ title }}</h1>

{% if lede %}{{ lede | markdown | safe }}{% endif %}

{% if intro %}{{ intro | markdown | safe }}{% endif %}

<div class="btn-group">
<a href="/contact" class="btn" data-variant="alt">Get in touch</a>
<a href="/about" class="btn">Why us?</a>
</div><!-- btn-group -->

</div><!-- two -->

</div><!-- layout -->



<hr data-function="spacer">



{% include "partials/manufacturers.html" %}



<hr data-function="spacer">



<div class="layout" data-layout="vienna">

<div>
{% if block1 %}{{ block1 | markdown | safe }}{% endif %}
</div><!-- one -->

<div data-bordered="inline-start">
{% if block2 %}{{ block2 | markdown | safe }}{% endif %}
</div><!-- two -->

<div data-bordered="inline-start">
{% if block3 %}{{ block3 | markdown | safe }}{% endif %}
</div><!-- three -->

</div><!-- layout -->



<hr data-function="spacer">



<div class="layout" data-layout="brussels">

<div>
<h2>FAQs</h2>

{% set faqItems = collections.faqItems | filterFaqsByCategory("General") %}
{% include "partials/faq-all-categories.html" %}

</div><!-- one -->

</div><!-- layout -->



{% include "partials/footer.html" %}
<script src="{{ site.assetPath }}/js/scripts.js"></script>
</body>

</html>
