{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<div class="layout" data-layout="tallinn">
<div>
{% if featureImage %}
<figure>
<img src="{{ featureImage }}" alt="{{ featureImageCaption }}" />
{% if featureImageCaption %}
<figcaption>{{ featureImageCaption }}</figcaption>
{% endif %}
</figure>
{% endif %}

{% if displayTitle %}
<h1>{{ title }}</h1>
{% else %}
<h1>{{ title }}</h1>
{% endif %}

{{ content | safe }}

</div><!-- one -->
</div><!-- layout -->

{% endblock %}

