<footer role="contentinfo">
{% set contactReferrer = helpers.getContactReferrer(page) %}

<div class="layout" data-layout="athens">

<div>

<div class="footer-nav">
<ul>
{% for item in footer_navigation.items %}
{% if item.url == "/contact" or item.url == "/contact/" %}
<li><a href="/contact/?referrer={{ contactReferrer }}&placement=footer"{{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
{% else %}
<li><a href="{{ item.url }}"{{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
{% endif %}
{% endfor %}
</ul>
</div>

<small>&#169; {{ global.currentYear() }}&#8211;now. {{ site.copyrightOwner or site.name }}. All Rights Reserved. <a href="/sitemap.xml">XML sitemap</a></small>
<small class="alt-credit" ><a href="https://stuffandnonsense.co.uk">Website design by Stuff &#38; Nonsense</a></small>
</div><!-- one -->

<div id="footer-logo">
<a href="#{{ site.siteID }}" title="Top">{% include "partials/logo-footer.svg" %}<span data-visibility="hidden">{{ site.name }}</span></a>
</div><!-- footer-logo -->

</div><!-- layout -->

</footer>
