<header role="banner">
{% set contactReferrer = helpers.getContactReferrer(page) %}

<div class="layout" data-layout="warsaw">

<div id="banner-logo">
<a href="/" aria-label="{{ site.name }}" title="Home">{% include "partials/logo-banner.svg" %}<span data-visibility="hidden">{{ site.name }}</span></a>
</div><!-- banner-logo -->

<nav>
<ul>
{% for item in navigation.items %}
{% if item.url == "/contact" or item.url == "/contact/" %}
<li><a href="/contact/?referrer={{ contactReferrer }}&placement=nav" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
{% else %}
<li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
{% endif %}
{% endfor %}
</ul>
</nav>

</div><!-- layout -->

</header>
